<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.io')}}">
    <title>Finished Experiments</title>
</head>
<body>

    {% if seen_yamls|length > 0 %} 
    <h2>Experiments are finished for following yaml files</h2>
    <ol>
    {% for file  in seen_yamls %}
    <li> {{ file }} </li>
    {% endfor %}
    </ol>
    {% else %}
    <h2> None of the Experiments have finished for - {{ experiment_name }} </h2>
    {% endif %}

</body>
</html>
